*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 100px;
}

h2{
  color: white;
  font-size: 40px;
}

h3{
  color: white;
  font-size: 34px;
}

h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: white;
  font-size: 26px;
}

h5{
  color: white;
  font-size:22px ;
}

h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

p{

  font-size: 20px;
}

nav .nav_content{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid #5c5959;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .nav_content img{
  height: 20%;
  margin: 10px;
  margin-left: 70px;
}

nav .nav_content ul{
  list-style: none;
  display: flex;
}

nav .nav_content ul li{
    margin-left: 10px;
}

nav .nav_content .sign{
   margin-right: 90px;
}

nav .nav_content i{
     margin-right: 10px; 
     padding: 7px;
      
}

.home{
  background: url(image/home-img.jpeg) no-repeat;
  height: 100vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  /* border-bottom: 0.1px solid #5c5959; */
  color: white;
  padding-bottom: 1px;
}

.home_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-left: 80px;
}

.home_heading{
  margin-bottom: 0px;
}

.home_content button{
      width: 15%;
      padding: 10px;
      background: #d3ad7f;
      color: white;
      border: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 50px;
      margin-top: 16px;
    }



.about{
  background: black;
  height: 70vh;
  color: white;
  align-items: center;
}

.about h2{
     text-align: center;  
}

.about h2 span{
  color: #d3ad7f;
}

.about .row{
  display: flex;
  align-items: center;
  background:#13131a ;
   width: 80%;
   margin-left: 120px;
   margin-top: 30px;
  /* display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start; */
}

.about .row .image img{
  width: 100%;
} 

.about .row .info {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .info h3{
    margin-bottom: 7px;
}

.about .row .info p{
    margin-bottom: 9px;
}

.about .row .info button{
   width: 120px;
   padding: 10px;
   border: #13131a;
   background-color: #d3ad7f;
   color: white;
}

.menu{
  background: black;
  height: 120vh;
}

.menu h2{
  text-align: center;
  padding: 30px;
}

.menu h2 span{
  color: #d3ad7f;
}

.item{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item_card{
  width: 30%;
  height: 50vh;
   display: grid;
   place-items: center;
  border: 1px solid rgb(78, 75, 75);
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-bottom: 10px;
}

.item_card .price{
  display: flex;
  color: white;
}

.item_card .price h6{
     margin-left: 4px;
     text-decoration: line-through;
     text-decoration-line:line-through;
}

.item_card img{
   width: 120px;
   border: #5c5959;
}

.item_card button{
    padding: 10px;
    width: 110px;
    background-color: #d3ad7f;
    color: white;
    border: #5c5959;
}

.item_card:hover{
    background-color: aliceblue;
    color: black;
}

.item_card:hover h4{
  color: black;
}

.item_card:hover .price h5{
  color: black;
}

.item_card:hover .price{
     color: black;
}

.item_card:hover button h6{
     color: black;
}

.products{
    background: black;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.listing{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.products h2{
    margin-bottom: 20px;
    padding: 20px;
}

.products h2 span{
     color: #d3ad7f;
}

.product_card{
  border: 1px solid white;
  height: 70vh;
  width: 30%;
  margin-right: 10px;
}

.product_card .icons{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     height: 20px;
     margin-top: 20px;
}

.product_card .icons a{
    color: white;
    font-size: 25px;
    margin-top: 15px;
    border: 1px solid rgb(53, 51, 51);
    padding: 10px;
    margin-left: 8px;
   }

.product_card img{
  margin-top: 50px;
}

.product_card .starts{
       color: #d3ad7f;
}

.product_card .product_info .price{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

}

.product_card .product_info .price h6{
  margin-left: 4px;
  text-decoration: line-through;
  text-decoration-line:line-through;
  
}

  

